//- div(ng-include='"components/navbar/navbar.html"')
div(layout='column' layout-fill)
  md-toolbar(md-scroll-shrink)
    .md-toolbar-tools
      h3
        span Týr
  md-content
    div(layout='row' layout-align='center' layout-padding)
      md-button.md-primary(ng-click='showQuestionDialog($event)') New Question
      //- {{ alert }}
    div(layout='row' layout-align='center' layout-sm='column' layout-align-sm='center center' layout-margin)
      md-card.questionCard(ng-repeat='question in questions | filter:discarded | limitTo: 3 | filter:markSeen')
        div(layout='column' layout-align='space-between center' flex layout-padding)
          div(layout='column' layout-align='center')
            h2 {{ question.question }}
          div(layout='row' layout-align='space-around center')
            md-button.md-primary.md-hue-1(ng-click='answerFirstOption(question)') {{ question.option1.description }}
            md-button.md-primary.md-hue-2(ng-click='answerSecondOption(question)') {{ question.option2.description }}

    p(layout='row' layout-align='center' ng-show='questionsAnswered > 0') You have answered {{ questionsAnswered }} questions
//- div(layout='row' layout-sm='column' layout-align='center' layout-margin)
  md-card.questionCard
    div(layout='column' layout-align='space-between center' flex layout-padding)
      div(layout='column' layout-align='center')
        h2 Do you like pie?
      div(layout='row' layout-align='space-around center')
        md-button.md-primary.md-hue-1 Yes
        md-button.md-primary.md-hue-2 No
  md-card.questionCard
    div(layout='column' layout-align='space-between center' flex layout-padding)
      div(layout='column' layout-align='center')
        h2 Is the Avatar by Jason Cameron overrated?
      div(layout='row' layout-align='space-between center')
        md-button.md-primary.md-hue-1 Definitely
        md-button.md-primary.md-hue-2 Nope
  md-card.questionCard
    div(layout='column' layout-align='space-between center' flex layout-padding)
      div(layout='column' layout-align='center')
        h2 Do you like Star Wars or Star Trek?
      div(layout='row' layout-align='space-around center')
        md-button.md-primary.md-hue-1 Star Wars
        md-button.md-primary.md-hue-2 Star Trek




//- .container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

//- footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues