.questionViewFrame {
  width: 50%;
  margin: 2em auto;
  .questionHeader {
    text-align: center;
  }
}
.question-content {
  border-left: 1px solid #E0E0E0;
  @media #{$phone} {
    border-left: 0;
  }
}
.question-item-content {
  padding: 8px;
}
.questionResultBar {
  margin-bottom: 0.5em;
}

