.md-whiteframe-z1.questionViewFrame(layout='row' layout-margin)
  div(flex='50' layout='column' layout-align='center')
    h2.questionHeader {{ selectedQuestion.question }}
    canvas(id='base' chart-type='Pie' data='data' labels='labels' options='options').chart.chart-pie
    div(flex)
      span Answer rate:
      {{ (selectedQuestion.option1.votes + selectedQuestion.option2.votes)/selectedQuestion.views }}
  md-content.question-content(flex='45')
    md-list
      md-item(ng-repeat='q in userQuestions')
        md-item-content(ng-click='viewDetails(q)')
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 {{ q.question }}
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='{{ q.option1.votes*100/(q.option1.votes + q.option2.votes) }}')
            div(layout='row' layout-align='space-between center')
              h4 {{ q.option1.description }}
              h4 {{ q.option2.description }}
        md-divider(ng-if='!$last')
      //- md-item
        md-item-content
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 Cake or pie?
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='3.123')
            div(layout='row' layout-align='space-between center')
              h4 Cake
              h4 Pie
        md-divider




