.md-whiteframe-z1.questionViewFrame(layout='row' layout-margin)
  div(flex='50')
    p test
  md-content.question-content(flex='45')
    md-list
      md-item
        md-item-content
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 Cake or pie?
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='40')
            div(layout='row' layout-align='space-between center')
              h4 Cake
              h4 Pie
        md-divider
      md-item
        md-item-content
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 Cake or pie?
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='3.123')
            div(layout='row' layout-align='space-between center')
              h4 Cake
              h4 Pie
        md-divider
      md-item
        md-item-content
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 Cake or pie?
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='73')
            div(layout='row' layout-align='space-between center')
              h4 Cake
              h4 Pie
        md-divider
      md-item
        md-item-content
          .md-tile-content.question-item-content(layout='column' layout-padding)
            h3 Cake or pie?
            md-progress-linear.questionResultBar(md-mode='determinate' ng-value='99')
            div(layout='row' layout-align='space-between center')
              h4 Cake
              h4 Pie
        



